{{ define "main" }}

<article class="post {{ if or (eq .File.BaseFileName "about") (eq .File.BaseFileName "contact") (eq .Type "post") }}special-page{{ end }}">
  <header class="mb-14">
    <h1 class="!my-0 pb-2.5">{{ .Title }}</h1>

    {{ if ne .Type "page" }}
    <div class="text-xs antialiased opacity-60">
      {{ if .Date }}
      <time>{{ .Date | time.Format ":date_medium" }}</time>
      {{ end }}<!---->
      {{ $single_author := or .Params.Author site.Author.name }}
      <!---->
      {{ if $single_author }}
      <span class="mx-1">&middot;</span>
      <span>{{ $single_author }}</span>
      {{ end }}
    </div>
    {{ end }}
  </header>

  <section>{{ .Content }}</section>

  <!-- Post Tags -->
  {{ if .Params.tags }}
  <footer class="mt-12 flex flex-wrap">
    {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
    <a
      class="mb-1.5 ltr:mr-1.5 rtl:ml-1.5 rounded-lg bg-black/[3%] px-5 py-1 no-underline hover:bg-black/[6%] dark:bg-white/[8%] dark:hover:bg-white/[12%]"
      href="{{ $href }}">{{ . }}</a>
    {{ end }}
  </footer>
  {{ end }}

  <!-- Post Nav -->
  {{ if not site.Params.disablePostNavigation }}
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ if and (gt (len $pages) 1) (in $pages . ) }}
  <nav
    class="mt-24 flex overflow-hidden rounded-xl bg-black/[3%] text-lg !leading-[1.2] *:flex *:w-1/2 *:items-center *:p-5 *:font-medium dark:bg-white/[8%] [&>*:hover]:bg-black/[2%] dark:[&>*:hover]:bg-white/[3%]"
  >
    {{ with $pages.Next . }}
    <a class="ltr:pr-3 rtl:pl-3 no-special-link" href="{{ .Permalink }}"><span class="ltr:mr-1.5 rtl:ml-1.5">←</span><span>{{ .Name }}</span></a>
    {{ end }}
    {{ with $pages.Prev . }}
    <a class="ltr:ml-auto rtl:mr-auto justify-end pl-3 no-special-link" href="{{ .Permalink }}"><span>{{ .Name }}</span><span class="ltr:ml-1.5 rtl:mr-1.5">→</span></a>
    {{ end }}
  </nav>
  {{ end }}
  {{ end }}

  <!-- Disqus -->
  {{ if and site.Config.Services.Disqus.Shortname (not (eq .Params.comments false)) }}
  <div class="mt-24" id="disqus_thread"></div>
  <script>
    const disqusShortname = '{{ site.Config.Services.Disqus.Shortname }}';
    const script = document.createElement('script');
    script.src = 'https://' + disqusShortname + '.disqus.com/embed.js';
    script.setAttribute('data-timestamp', +new Date());
    document.head.appendChild(script);
  </script>
  {{ end }}

  <!-- Cusdis -->
  <br>
  <h3>评论</h3> 
  <div style="width: 35px; height: 3px; background-color: rgb(42,77,208); margin-top: 10px; border-radius: 10px;"></div> 
  <br/>
  {{ if and (.Params.comments | default true) (.Site.Params.cusdis.enable) }}
  <div id="cusdis_thread"
      data-host="{{ .Site.Params.cusdis.host }}"
      data-app-id="{{ .Site.Params.cusdis.app_id }}"
      data-page-id="{{ .RelPermalink }}"
      data-page-url="{{ .RelPermalink }}"
      data-page-title="{{ .Title }}"
      style="width: 100%; min-height: 150px; overflow: hidden;">
  </div>
  <script async defer src="{{ .Site.Params.cusdis.host }}/js/cusdis.es.js"></script>

  <script>
    window.CUSDIS_LOCALE = {
      "powered_by": "评论由 Cusdis 提供",
      "post_comment": "发送",
      "loading": "加载中",
      "email": "邮箱地址 (可选)",
      "nickname": "昵称",
      "reply_placeholder": "回复内容...",
      "reply_btn": "回复",
      "sending": "发送中...",
      "mod_badge": "管理员",
      "content_is_required": "内容不能为空哦",
      "nickname_is_required": "昵称不能为空哦",
      "comment_has_been_sent": "评论已发送，博主审核通过后会展示"
    };

    function adjustCusdisHeight() {
      const cusdisIframe = document.querySelector('#cusdis_thread iframe');
      if (cusdisIframe) {
        const height = cusdisIframe.contentWindow.document.body.scrollHeight;
        cusdisIframe.style.height = height + 'px';
        document.getElementById('cusdis_thread').style.height = height + 'px';
      }
    }

    window.addEventListener('load', () => {
      const target = document.querySelector('#cusdis_thread iframe');
      if (target) {
        target.onload = adjustCusdisHeight;
      }
      adjustCusdisHeight();
    });

    const observer = new MutationObserver(adjustCusdisHeight);
    observer.observe(document.getElementById('cusdis_thread'), { childList: true, subtree: true });
    setInterval(adjustCusdisHeight, 1000);
  </script>

  {{ end }}
</article>

{{ end }}
